  <header>
    <h3>whoami</h3>
    <p>An Internet and application security practitioner.</p>
    <p class="zero view">My personal <a href="http://www.lookout.net">home page</a></p>
    <p class="zero view">My company <a href="http://www.casaba.com">Casaba
      Security</a></p>
    <p class="zero"><a href="https://twitter.com/w3be">Twitter</a></p>
    <p class="zero"><a href="http://linkedin.com/in/chrisweber">LinkedIn</a></p>
    <p class="zero">View my <a href="https://github.com/cweb/">GitHub</a></p>
  </header>
